---
name: Check and update brew definitions
"on":
  schedule:
    - cron: '0 5 * * *'
  push:
  workflow_dispatch:
jobs:
  check_updates:
    permissions:
      contents: write
      pull-requests: write
    name: "Homebrew spec update checker"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run the check script
        run: ./homebrew_check_latest_release.py

      - name: Update homebrew spec file
        uses: technote-space/create-pr-action@v2
        with:
          EXECUTE_COMMANDS: ./homebrew_check_latest_release.py
          ONLY_DEFAULT_BRANCH: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MESSAGE: 'Update version automagically for ref: ${PR_ID}'
          COMMIT_NAME: 'Version bump'
          COMMIT_EMAIL: 'james@terminaloutcomes.com'
          PR_BRANCH_NAME: 'brew-update-${PR_ID}'
          PR_TITLE: 'Update to version'
